@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #b7cbd3;
}
.card .fas{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.card hr{
    width: 20%;
    border-top: 0.2rem solid #a7a7a7;
}
.card-body{
    font-size: 0.9rem;
}
.card-deck{
    margin: 4rem 6rem;
}
.card{
    transition: box-shadow .2s;
}
.card:hover{
    box-shadow: 0 0 11px rgba(5, 90, 114, 0.6);
}
.wrapperdo, .ques{
    background-color: #ffffff;
    width: 98%;
    padding: 2rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.do > i{
    padding-top: 1rem;
    font-size: 2.5rem;
}
.fa-headset{
    font-size: 10rem;
}
.links{
    background-color: #8fb3d1;
    padding: 2rem;
}
.links a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0.4rem;
}
a:hover{
    color: #b0dcee;
}
.connect{
    background-color: #588aa8;
    color: #ffffff;
    margin-bottom: 0;
    padding: 2rem 0 3rem 0;
}
.social a{
    font-size: 2.5rem;
    padding: 1rem;
    color: #bbe0f7;
}
.social a:hover{
    color: #ebf7ff
}